.how-to-play {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  padding: 1rem 2rem;
  width: 420px;
  margin: 2rem auto;
  color: white;
  font-size: .8rem;
  line-height: 2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.39) -213.5%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset 0px -1px 11px rgb(255 255 255 / 17%), inset 0px 2px 0px rgb(255 255 255 / 24%);
  border-radius: 8px;

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
  }

  &__list {
    margin: 1rem auto;
  }
}