.how-to-play {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  padding: 1rem 2rem;
  width: 25vw;
  margin: 2rem auto;
  color: white;
  font-size: .8rem;
  line-height: 2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.39) -213.5%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset 0px -1px 11px rgb(255 255 255 / 17%), inset 0px 2px 0px rgb(255 255 255 / 24%);
  border-radius: 8px;

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
  }

  &__list {
    margin: 1rem auto;
  }
}


@media only screen and (min-width: 481px) and (max-width:768px) {
  .how-to-play {
    width: 70vw;
  }
}

@media only screen and (max-width:480px) {
  .how-to-play {
    width: unset;
  }
}

@media all and (min-width: 768px) and (max-width: 991px){
  .how-to-play {
    width: 60vw;
  }
}

@media all and (min-width: 991px) and (max-width:1420px){
  .how-to-play {
    width: 40vw;
  }
}