.campaign-landing {
  min-height: 100%;
  margin: 0 auto;
  padding: 0 4vw;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background: url("/assets/images/stars.png") no-repeat center 400px, 
              url("/assets/images/gradient.png") no-repeat center center fixed,
              url("/assets/images/background.png") no-repeat center center fixed;

  &__pot {
    text-align: center;
    position:absolute;
    left:0;
    right:0;
    bottom: 0;
    margin-left:auto;
    margin-right:auto;
    background: url("/assets/images/sun_beam.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 300px;

    img {
      width: 450px;
      height: auto;
      object-fit: cover;
    }
  }

  &__beam {
    text-align: center;
    left:0;
    right:0;
    bottom: 0;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 100%;
    background: url("/assets/images/sun_beam.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2000px 2000px;

    img {
      width: 450px;
      height: 350px;
      object-fit: cover;
    }
  }
  
  &__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 1.5rem;
    line-height: 1;
    text-align: center;

    &--light {
      font-weight: 200;
      font-size: 3rem;
    }

    &--bold {
      font-weight: 700;
      font-size: 3rem;
    }

    &--normal {
      margin: 1rem auto;
    }
  }

  &__description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    margin-bottom: unset;
    flex-direction: column;
    color: white;
    text-align: center;
    line-height: 1.5;
  }

  &__coins {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 35vw;
    height: 250px;
    display: flex;
    justify-content: space-between;

    &-left {
      width: 150px;
      height: 150px;
      animation: MoveUpDown 3s linear infinite;
    }

    &-right {
      position: relative;
      top: 140px;
      width: 110px;
      height: 110px;
      animation: MoveUpDown 2s linear infinite;
    }
  }

  .show-mobile {
    display: none;
  }
}



@media only screen and (min-width: 481px) and (max-width:768px) {
  .campaign-landing {
    &__title {
      &--light {
        font-size: 2rem;
      }
  
      &--bold {
        font-size: 2rem;
      }
    }

    .show-mobile {
      display: none;
    }

    &__coins {
      width: 90vw;
    }

    &__pot {
      img {
        width: 450px;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (max-width:480px) {
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block !important;
  }

  .campaign-landing {
    &__title {
      &--light {
        font-size: 1.5rem;
      }
  
      &--bold {
        font-size: 1.5rem;
      }
    }

    &__coins {
      width: 100vw;
    }

    &__pot {
      bottom: -10px;
      img {
        width: 350px;
      }
    }

    &__beam {
      img {
        width: 382px;
        height: 350px;
        object-fit: cover;
      }
    }
  }
}

@media all and (min-width: 768px) and (max-width: 991px){
  .campaign-landing {
    &__title {
      &--light {
        font-size: 2rem;
      }
  
      &--bold {
        font-size: 2rem;
      }
    }

    .show-mobile {
      display: none;
    }

    &__coins {
      width: 70vw;
    }

    &__pot {
      img {
        width: 450px;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

@media all and (min-width: 991px) and (max-width:1420px){
  .campaign-landing {
    &__title {
      &--light {
        font-size: 2rem;
      }
  
      &--bold {
        font-size: 2rem;
      }
    }
    
    .show-mobile {
      display: none;
    }

    &__coins {
      width: 50vw;
    }

    &__pot {
      img {
        width: 450px;
        height: auto;
        object-fit: cover;
      }
    }
  }
}