.campaign-landing {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 4vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background: url("/assets/images/stars.png") no-repeat center 400px, 
              url("/assets/images/gradient.png") no-repeat center center fixed,
              url("/assets/images/coin_pot.svg") no-repeat center 750px fixed, 
              url("/assets/images/sun_beam.svg") no-repeat center 65px fixed, 
              url("/assets/images/background.png") no-repeat center center fixed;

  &__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 3rem;
    line-height: 1;
    text-align: center;

    &--light {
      font-weight: 200;
      font-size: 4rem;
    }

    &--bold {
      font-weight: 700;
      font-size: 4rem;
    }

    &--normal {
      margin: 1rem auto;
    }
  }

  &__description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    margin-bottom: unset;
    flex-direction: column;
    color: white;
    text-align: center;
    line-height: 1.5;
  }

  &__coins {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 35vw;
    height: 250px;
    display: flex;
    justify-content: space-between;

    &-left {
      width: 150px;
      height: 150px;
      animation: MoveUpDown 6s linear infinite;
    }

    &-right {
      position: relative;
      top: 140px;
      width: 110px;
      height: 110px;
      animation: MoveUpDown 4s linear infinite;
    }
  }

}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-35px);
  }
}