.button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  padding: 1rem;
  background-color: #ECAB03;
  color: white;
  border: none;
  min-width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  margin: 0 auto;

  &__icon {
    width: 20px;
    height: 20px;
  }
}