.info {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  display: flex;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.8rem;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.3);
  &__icon {
    width: 22px;
    height: 22px;
    margin-right: 4px;
  }
}